* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --image_border_color: #000;
    --image_border_px: 3px;
    --image_width: 140px;
    --image_height: 140px;
    --title_color: #fff;
    --description_color: #f1c40f;
    --svg_color: #fff;
    --menu_background_color: #0e0e0e;
    --menu_text_color: #fff;
    --menu_active_text_color: #f1c40f;
    --button_background_color: #0e0e0e;
    --button_text_color: #fff;
    --button_text_hover_color: #f1c40f;
    --textarea_background_color: #0e0e0e;
    --textarea_text_color: #fff;
    --textarea_link_text_color: #f1c40f;
    --footer_background_color: #0e0e0e;
    --footer_text_color: #fff;
    --footer_link_text_color: #f1c40f;
}

html{
    font-size: 175.5%;
}

body {
    font-family: cursive;
    font-weight: 400;
    line-height: 1.7;
    color: #000000;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 60s ease infinite;
    background-size: 2000% 2000%;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex_column_center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex_row_center {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.flex_no_wrap_row_center {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.footer_div_item {
    color: var(--footer_text_color);
    background: var(--footer_background_color);
    padding: 1em;
    margin-top: 1.5em;
}

.footer_a_item {
    color: var(--footer_link_text_color);
    text-decoration: none;
}

.footer_b_item {
    color: rgba(60,132,206)
}

.header_nav_menu_item {
    color: var(--menu_text_color);
    background-color: var(--menu_background_color);
    text-align: center;
    list-style-type: none;
    cursor: pointer;
    padding: 0.5em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: 0.10s ease;
    font-size: 1.1em;
}

.header_h_item {
    text-align: center;
    vertical-align: middle;
    font-size: 1.1em
}

main {
    margin-bottom: auto;
}

.main_a_item {
    margin-top: 1em;
    text-decoration: none;
}

.main_text_item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--button_text_color);
    background-color: var(--button_background_color);
    width: 41em;
    margin-top: 1em;
    padding: 0.8em;
    border-radius: 0.3em;
    min-height: 3.7em;
    text-align: center;
    vertical-align: middle
}

.header_links_item {
    width: 2.1em;
    height: 2.1em;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    .header_links_item:hover {
        transform: scale(1.10);
        transition: 0.10s ease;
    }

    .header_links_item + .header_links_item {
        margin-left: 1em;
    }

    .header_links_item svg {
        fill: var(--svg_color);
    }

@keyframes gradient {
    0%,100% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 100%
    }
}

@media (max-width: 768px) {
    .main_text_item {
        width: 92vw;
    }

    .main_small_button_item {
        width: calc(92vw / 2 - 5px);
    }

    .main_button_item {
        width: 92vw;
    }

    .header_h_item {
        width: 92vw;
        text-align: center;
    }
}
